  <tr  id="19">
    <td>Shark</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Participants must have passed pike level before.</td>
    <td>96</td>
    <td>7/8;19</td>
 </tr>
  <tr  id="20">
    <td>Shark</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Participants must have passed pike level before.</td>
    <td>130</td>
    <td>7/8;20</td>
 </tr>
  <tr  id="21">
    <td>Log Rolling</td>
    <td>2022-05-22</td>
    <td>2022-05-26</td>
    <td>Log Rolling</td>
    <td>200</td>
    <td>0/1;21</td>
 </tr>
  <tr  id="22">
    <td>Log Rolling</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Log Rolling</td>
    <td>200</td>
    <td>0/2;22</td>
 </tr>
