  <tr>
    <td>Weight Training</td>
    <td>2022-04-14</td>
    <td>2022-04-16</td>
    <td>The YMCA weight training program is here to help you begin your fitness journey. Our specialized team of trainers will provide you with the knowledge, motivation and path to advance in your journey.</td>
    <td>160</td>
    <td>5/5</td>
 </tr>
  <tr>
    <td>Shark Swimming</td>
    <td>2022-05-14</td>
    <td>2022-05-28</td>
    <td>The Shark Swimming program is here to help the advanced swimmers reach their fullest potential.</td>
    <td>100</td>
    <td>20/20</td>
 </tr>
