  <tr>
    <td>log rolling</td>
    <td>2022-04-12</td>
    <td>2022-04-16</td>
    <td>log rollin mfrssss</td>
    <td>40</td>
    <td>15/15</td>
 </tr>
  <tr>
    <td>shark swimming</td>
    <td>2022-04-12</td>
    <td>2022-04-16</td>
    <td>mino required</td>
    <td>20</td>
    <td>5/5</td>
 </tr>
  <tr>
    <td>Mino Swimming</td>
    <td>2022-04-14</td>
    <td>2022-04-17</td>
    <td>basic swimming</td>
    <td>30</td>
    <td>10/10</td>
 </tr>
  <tr>
    <td>Mino Swimming</td>
    <td>2022-04-14</td>
    <td>2022-04-17</td>
    <td>basic swimming</td>
    <td>30</td>
    <td>10/10</td>
 </tr>
  <tr>
    <td>Weight Training</td>
    <td>2022-04-14</td>
    <td>2022-04-16</td>
    <td>The YMCA weight training program is here to help you begin your fitness journey. Our specialized team of trainers will provide you with the knowledge, motivation and path to advance in your journey.</td>
    <td>160</td>
    <td>5/5</td>
 </tr>
