  <tr>
    <td>Shark</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Sundays 5:00pm to 5:40pm, Participants must have passed pike level before.</td>
    <td style="color: green;">Active</td>
  </tr>
  <tr>
    <td>Log Rolling</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Log Rolling Mondays 6:00pm to 6:40pm</td>
    <td style="color: green;">Active</td>
  </tr>
  <tr>
    <td>Shark</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Mondays & Wednesdays  6:00pm  to  6:40pm,  Participants must have passed pike level before.</td>
    <td style="color: green;">Active</td>
  </tr>
  <tr>
    <td>Log Rolling</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Log Rolling Mondays 6:00pm to 6:40pm</td>
    <td style="color: green;">Active</td>
  </tr>
