  <tr>
    <td>Shark</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Participants must have passed pike level before.</td>
    <td style="color: green;">Active</td>
  </tr>
  <tr>
    <td>Log Rolling</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Log Rolling</td>
    <td style="color: green;">Active</td>
  </tr>
  <tr>
    <td>Shark</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Participants must have passed pike level before.</td>
    <td style="color: green;">Active</td>
  </tr>
  <tr>
    <td>Log Rolling</td>
    <td>2022-05-22</td>
    <td>2022-05-26</td>
    <td>Log Rolling</td>
    <td style="color: green;">Active</td>
  </tr>
  <tr>
    <td>Log Rolling</td>
    <td>2022-05-22</td>
    <td>2022-06-26</td>
    <td>Log Rolling</td>
    <td style="color: green;">Active</td>
  </tr>
