*{
   margin:0;
   padding:0;
    font-family:'poppins', sans-serif;
    
}
html, body{
    height:100%;
}
body{
    text-align:center;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('/static/images/swim.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
#top{
    padding:15px;
    background:grey;
    color:black;
}
#contain{
    flex:1;
}

nav{
    display:flex;
    align-items:center;
    padding:10px 8%;
    height: 30px;
}

#logo{
    width:75px;
    height:56px;
    margin-right:20px;
    cursor:pointer;
    text-align:right;
}
nav ul{
    flex:1;
    text-align:right;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration:none;
    color:black;
}
nav ul li a:hover
{
    cursor:pointer;
    background:black;
    color:white
    
}


button{
    background:#efefef;
    height:30px;
    width:60px;
    border-radius:20px;
    border:0;
    outline:0;
    cursor:pointer;
}
div.starttext{
    padding-right:280px;
    position:relative;
    bottom:10;
    
}
.starttext h1{
    font-size: 100px;
    font-weight:400;
    text-align:right;
}

.starttext{
    position:absolute;
    top:10;
    left:58%;
    width:200px;
    margin-top:15%;
}


.loginbox{
    width:320px;
    height:420px;
    background: #000;
    color: #fff;
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%, -50%);
    box-sizing:border-box;
    padding:70px 30px;
}

.loginbox h1{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}

.loginbox p{
    margin:0;
    padding:0;
    font-weight:bold;
}

.loginbox input{
    width:100%;
    margin-bottom:20px;
}

.loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    background:green;
    color:#fff;
    font-size:18px;
    border-radius:20px;
}

.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background:blue;
    color:#000;
    
}
.newuser{
    border:none;
    outline:none;
    height:40px;
    background:green;
    color:#fff;
    font-size:18px;
    border-radius:20px;
}


.register{
    width:320px;
    height:550px;
    background: #000;
    color: #fff;
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%, -50%);
    box-sizing:border-box;
    padding:70px 30px;
}

h1 .register{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}

.register p{
    margin:0;
    padding:0;
    font-weight:bold;
}

.register input{
    width:100%;
    margin-bottom:20px;
}
.register input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.register input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    background:green;
    color:#fff;
    font-size:18px;
    border-radius:20px;
}

.register input[type="submit"]:hover
{
    cursor:pointer;
    background:black;
    color:white;
    
}

footer{
   padding:15px;
   background:grey;
   color:black;
}
