*{
   margin:0;
   padding:0;
    font-family:'poppins', sans-serif;
    
}
html, body{
    height:100%;
}
body{
    text-align: center;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,*/url('/static/images/swim.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
#top{
    padding:15px;
    background:lightskyblue;
    color:black;
}
#contain{
    flex:1;
}

nav{
    display:flex;
    align-items:center;
    padding:10px 8%;
    height: 30px;
}

#logo{
    width:75px;
    height:56px;
    margin-right:20px;
    cursor:pointer;
    text-align:right;
}
nav ul{
    flex:1;
    text-align:right;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration:none;
    color:black;
    position: relative;
    padding: 2em;
    margin: -2em;
}

.highlight:hover {
    color: #FFFFFF;
}

button{
    background:white;
    color: black;
    height:30px;
    width:60px;
    border-radius:20px;
    border:0;
    outline:0;
    cursor:pointer;
}
button:hover{
    background-color: black;
    color: white;
}
div.starttext{
    padding-right:280px;
    position:relative;
    bottom:10;
    
}
.starttext h1{
    font-size: 100px;
    font-weight:400;
    text-align:right;
}

.starttext{
    position:absolute;
    top:10;
    left:58%;
    width:200px;
    margin-top:15%;
}


.loginbox{
    width:320px;
    height:420px;
    background: #000;
    color: #fff;
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%, -50%);
    box-sizing:border-box;
    padding:70px 30px;
    border-radius: 25px;
    box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}

.loginbox h1{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}

.loginbox p{
    margin:0;
    padding:0;
    font-weight:bold;
}

.loginbox input{
    width:100%;
    margin-bottom:20px;
}

.loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    background:lightskyblue;
    color:#fff;
    font-size:18px;
    border-radius:20px;
}

.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background:white;
    color:#000;
    
}

.newuser{
    border:none;
    outline:none;
    height:40px;
    background:white;
    color:#fff;
    font-size:18px;
    border-radius:20px;
}


.register{
    width:320px;
    height:480px;
    background: #000;
    color: #fff;
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%, -50%);
    box-sizing:border-box;
    padding:38px 30px;
    border-radius: 25px;
    box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}

h1 .register{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}

.register p{
    margin:0;
    padding:0;
    font-weight:bold;
}

.register input{
    width:100%;
    margin-bottom:20px;
}
.register input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.register input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    background:lightskyblue;
    color:#fff;
    font-size:18px;
    border-radius:20px;
}

.register input[type="submit"]:hover
{
    cursor:pointer;
    background:black;
    color:white;
    
}

footer{
   padding:15px;
   background:lightskyblue;
   color:black;
}

/* Styling for user profile*/
/* Create three unequal columns that floats next to each other */
* {
    box-sizing: border-box;
  }
.column {
  float: left;
  padding: 20px;

}

.accounts {
  width: 25%;
}

.calender{
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Cards for account user profile */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


  

/* ------- PROGRAM SEARCH TABLE ------- */

#searchbar {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 40%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    margin-bottom: 12px; /* Add some space below the input */
    color: grey;
    border: none;
    background-color: #000;
    opacity: 90%;
}
#accountsearchbar {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 40%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    margin-bottom: 12px; /* Add some space below the input */
    color: grey;
    border: none;
    background-color: #000;
    opacity: 90%;
}

.tableFixHead {
  overflow-y: auto; /* Makes the table scrollable */
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  margin-left: 150px;
  text-align: left;
  height: 50%;
  width: 80%;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: #009879;
  color: #ffffff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px 15px;
  word-wrap: break-word;
}

th {
  background: #eee;
}

td:nth-child(5):before {
    content: '$';
}

.tableFixHead tbody tr {
    border-bottom: thin solid #dddddd;
    background-color: #000;
    color: #efefef;
    border-bottom: thin solid #009879;
    opacity: 80%;
}

.tableFixHead tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.tableFixHead tbody tr:last-of-type {
    border-bottom: none;
}

.tableFixHead tbody tr:hover{
    background-color: #949494;
    color: #000;
    /* cursor:pointer; */
}

.cancel-btn {
    float: right;
    background-color: #830019;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.cancel-btn:hover {
    background-color: #690215;
    cursor:pointer;
}


/* ------- PROGRAM SEARCH TABLE ------- */