{% include 'format/header.html' %}



<section class="create_box">
    <h1>Create Program</h1>
    <body>
        <form action="/create" method="POST">
            <script>
                document.getElementById("current_date").innerHTML = Date();
            </script>
    
            <input placeholder="Program Name" autocomplete="off" type="text" name="name" value= "{{ name }}" >

            <label for="start_date">Start Date: </label>
            <input autocomplete="off" type="date" name="start_date" value= "{{ start_date }}" min="current_date">

            <label for="end_date">End Date: </label>
            <input autocomplete="off" type="date" name="end_date" value= "{{ end_date }}" min="current_date">

            <textarea placeholder="Description" autocomplete="off" name="description" value= "{{ description }}" rows="4" cols="46"></textarea><br><br>

            <label for="price">Member Price: </label>
            <span class="currencyinput">$<input autocomplete="off" type="number" name="price" id="price" value= "{{ price }}" min="0"></span><br>

            <label for="max_slots">Maximum Participants: </label>
            <input autocomplete="off" type="number" name="max_slots" id="max_slots" value= "{{ max_slots }}" min="1">
            <style>
                input[type='number']{
                    width: 40px;
                }

                textarea{
                    resize: none;
                }
            </style>
    
            <input type="submit" name="Create" value="Create">
        </form>
    </body>
    
    </section>
{% include 'format/footer.html' %}