{% include 'format/header.html' %}

<h1> Create Program </h1>

<!--
    TODO
    program name
        make this one of the level or make it changable

    start date
    end date
        make sure end date is after start date

    description

    min_swim_level
        should also be able to be null if the program name isn't a level

    price
        make two slots
        set non member price or member price based on the other
        allow it to be editable
            if the manager wants something different in terms of price

    num_total_people
        num_total_people_allowed to sign up
    
    num_signed up
        total number of people currently signed up

    when submited get the newest program ID
    then time slots

-->


{% include 'format/footer.html' %}