{% include 'format/header.html' %}



<section class="loginbox">
<h1> LOG IN </h1>
<p>Email</p>
    <form action="/login" method="POST">

    {% if message %}
        <p style="color:rgb(177, 0, 0);">
            {{ message }}
        </p>
    {% endif %}

    {% if email_error %}
        <p style="color:rgb(177, 0, 0);">
            {{ email_error }}
        </p>
    {% endif %}
    <input placeholder="Enter Email" autocomplete="off" type="text" name="email" value= "{{ email }}">
<p>Password</p>
    {% if password_error %}
        <p style="color:rgb(177, 0, 0);">
            {{ password_error }}
        </p>
    {% endif %}
    <input placeholder="Enter Password" autocomplete="off" type="password" name="password">




    <input type="submit" name="login" value="login">

</form>

<a href="/register_user">
   <p> <button>New User?</button></p>
</a> 

</section>
{% include 'format/footer.html' %}