{% include 'format/header.html' %}

<body>

    <div class="tableFixHead">

        <!-- Search bar for programs, uses program_search() js function to look through table -->
        <input type="text" id="searchbar" onkeyup="program_search()" placeholder="Search for programs..">

        <button class="cancel-btn" id="cancel-btn" onclick="cancel_on_click()">Cancel</button>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function cancel_on_click() {
                var table = document.getElementById("search-table");
                var rows = table.getElementsByTagName("tr");
                for (i = 0; i < rows.length; i++) {
                    var currentRow = table.rows[i];
                    var id = currentRow.id;
                    var createClickHandler = function(row) {
                        return function() {
                            var cell = row.getElementsByTagName("td")[0];
                            var name = cell.innerHTML;
                            var id = cell.id;
                            const dict_values = {id, prof}
                            const s = JSON.stringify(dict_values);
                            console.log(s);
                            if(confirm("Do you really want to delete " + id)) {
                                $.ajax({
                                url:"/postmethod",
                                type:"POST",
                                contentType: "application/json",
                                data: JSON.stringify(s)
                                });
                            }
                        };
                    };
                    currentRow.onclick = createClickHandler(currentRow);
                }
            }
        </script>

        <table id="program-table">

            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Program</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Available Slots</th>
                </tr>
            </thead>

            <!-- uses jinja to include html file created by the create_table(result) python method -->
            <!-- table.html is a table including data of all programs {will be updated for advanced queries} -->
            <tbody> {% include 'data/table.html' %} </tbody>
        </table>
    </div>

    <script>
        //JavaScript function to search through the table by table row <tr><td>
        function program_search() {
            var input, filter, table, tr, td, i, txtValue;

            // returning the input from the searchbar
            input = document.getElementById("searchbar");
            filter = input.value.toUpperCase();
            table = document.getElementById("program-table");
            tr = table.getElementsByTagName("tr");

            for(i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; //<--- Change this to set index of table column to be read
                if(td) {
                    txtValue = td.textContent || td.innserText;
                    if(txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>

</body>

{% include 'format/footer.html' %}