{% include 'format/header.html' %}
    </table>
      <body>
        <div class="tableFixHead">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for programs..">
          <table id="myTable">
            <thead>
                
            <tr>
                <th>Program</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available Slots</th>
            </tr>
        </thead>
            <tbody> {% include 'data/table.html' %} </tbody>
          </table>
        </div>
        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
        </script>
      </body>
{% include 'format/footer.html' %}