{% include 'format/header.html' %}

{% block javascript %}
    <script src="{{ url_for('static',filename='javascript/program_search_scripts.js') }}"></script>
    
{% endblock %}

<body>

    <div class="tableFixHead">

        <!-- Search bar for programs, uses program_search() js function to look through table -->
        <input type="text" id="searchbar" onkeyup="program_search()" placeholder="Search for programs..">
        
        {% if session["user_id"] == "employee" %}
            <button id="cancel-button" class="cancel-button" role="button">Cancel</button>
            
            <!-- Program Deletion button -->
            <!-- {% if session["manager_or_not"] == 1 %}
                <button class="delete-button" role="button">Delete</button>
            {% endif %} -->
        {% endif %}
        <table id="program-table">

            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Program</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Available Slots</th>
                </tr>
            </thead>

            <!-- uses jinja to include html file created by the create_table(result) python method -->
            <!-- table.html is a table including data of all programs {will be updated for advanced queries} -->
            <tbody> {% include 'data/table.html' %} </tbody>
        </table>

        <button class="confirm-button" role="button">Confirm Program Cancel</button>
    </div>

    
    <script>
        const element = document.getElementById("cancel-button");
        element.addEventListener("click", delete_mode);
    </script>
</body>

{% include 'format/footer.html' %}