{% include 'format/header.html' %}

<div class="register">
<h1> REGISTER </h1>


<form action="/register_user" method="POST">
    {% if email_error %}
        <p style="color:rgb(177, 0, 0);">
            {{ email_error }}
        </p>
    {% endif %}
    <input placeholder="Enter Email" autocomplete="off" type="text" name="email" value= "{{ email }}" >
    
    {% if username_error %}
        <p style="color:rgb(177, 0, 0);">
            {{ username_error }}
        </p>
    {% endif %}
    <input placeholder="Enter Username" autocomplete="off" type="text" name="username" value= "{{ username }}">
    
    {% if password_error %}
        <p style="color:rgb(177, 0, 0);">
            {{ password_error }}
        </p>
    {% endif %}
    <input placeholder="Enter Password" autocomplete="off" type="password" name="password">
    
    <input placeholder="Verify Password" autocomplete="off" type="password" name="verify_password">

    <!--
        put a little info box saying what a membership entails
    -->
    <label for="member">Sign Up for Membership</label>
    <input type="checkbox" id="membership" name="membership" value = "true" {{ membership }}>
    


    <input type="submit" name="register" value="register">

</form>

<a href="/login">
    <button>Back to login</button>
</a> 

</div>
{% include 'format/footer.html' %}