{% include 'format/header.html' %}

<body>

    <div class="tableFixHead">
        

        <!-- Search bar for programs, uses program_search() js function to look through table -->
        <input type="text" id="searchbar" onkeyup="program_search()" placeholder="Search for program or user">

        <input type="text" id="accountsearchbar" onchange="updatecol( this )" placeholder="column to search">

        <form action="/user_search" method="post">
            <label for="uid">Delete Account:</label><br>
            <input type="text" id="aid" name="aid" placeholder="enter account id" ><br>
            <input type="submit" name="accountDel" onclick='return confirm("Are you sure you want to delete this user?")' value="Submit">
        </form> 


        <table id="user-table">

            <!-- Table Header -->
            <thead>
                <tr>
                    <!-- <th>header</th> -->
                    <thead>
                        <tr>
                            <th>(0)User account</th>
                            <th>(1)Account Id</th>
                            <th>(2)First Name</th>
                            <th>(3)Last Name</th>
                            <th>(4)Program Name</th>
                            <th>(5)Start Date</th>
                            <th>(6)End Date</th>
                            <th>Discription</th>
                        </tr>
                    </thead>
                </tr>
            </thead>

            <!-- uses jinja to include html file created by the create_table(result) python method -->
            <!-- table.html is a table including data of all programs {will be updated for advanced queries} -->
            <tbody> {% include 'data/usertable.html' %} </tbody>
        </table>
    </div>

    <script>
        //JavaScript function to search through the table by table row <tr><td>
        var searchCol = 0;
        
        function updatecol( col ) {
            searchCol = col.value;
        }

        function program_search() {
            var input, filter, table, tr, td, i, txtValue;

            // returning the input from the searchbar
            input = document.getElementById("searchbar");
            filter = input.value.toUpperCase();
            table = document.getElementById("user-table");
            tr = table.getElementsByTagName("tr");

            for(i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[searchCol]; //<--- Change this to set index of table column to be read
                if(td) {
                    txtValue = td.textContent || td.innserText;
                    if(txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>

</body>

{% include 'format/footer.html' %}