{% include 'format/header.html' %}


<h1> Profile </h1>

{% if accounts %}

    <div class="row">
        <div class="column accounts" style="background-color:#aaa;">
            
            {% if session["member_or_not"] == 1 %}
                <h2> Accounts </h2>
                <!-- TODO Eventually will be a button to create more accounts for when it's a member user -->
                {% for accId, first, last in accounts %}
                    <div class="card">
                        <br>
                        <p>YMCA id: {{ accId }}</p>
                        <p>Name: {{ first }} {{ last }}</p>
                        <p>Level: {{ swimLevelName}}</p>
                        <br>
                    </div>
                    <br>
                {% endfor %}
                
            {% else %}
                <h2> Account information </h2>
                <p> Will eventually have account information here for a non member account or if there is only one account</p>
            {% endif %}

        </div>

        <div class="column calender" style="background-color:#bbb;">
            <h2>Calender</h2>
            <!-- 
            will eventually have a calender here, I am looking at this tutorial for some thing like it? 
            https://www.liquidlight.co.uk/blog/create-an-event-schedule-with-html-table/ -->
        </div>

    </div>

{% else %}
    <!-- TODO Eventually will be a button to create a an account when a user doesn't have one -->

{% endif %}


{% include 'format/footer.html' %}
