{% include 'format/header.html' %}


<h1> Profile </h1>

{% if accounts %}
    <!-- checks if there is some accounts connected and creates a card/view or them -->

    <!--  ALl of this will need to be changed so it's commented out for now.
        {% if num_accounts > 1 %}
        {% for account in accounts %}

            <p style="border: 1px solid black">
                {{ acount }} <br>
                <button type="button">view programs</button>
                <br>
            </p>

        {% endfor %}

    {% else %}
        {{ accounts }} <br>
        <button type="button">view programs</button>
        <br>
    {% endif %} -->





    {% if session["member_or_not"] == 1 %}
        <!-- TODO Eventually will be a button to create more accounts for when it's a member user -->
        <button type="button">Add another account</button>
    {% endif %}
{% else %}
    <!-- TODO Eventually will be a button to create a an account when a user doesn't have one -->
    <button type="button">Create Account</button>
{% endif %}


{% include 'format/footer.html' %}