{% include 'format/header.html' %}


<a class="starttext">
<h1 style="color: white; text-shadow: 2px 5px lightskyblue; font-style: italic">YMCA Companion User Manual</h1>

<h3>Register Account/Login (User):</h3>

<p>
 - Navigate to the top-right of the home screen and click on “Login”
 - Type your credentials into the boxes labeled “Username” and “Password”
 - Click “Login”
 - If there was a typing error, try again
 - If an account does not exist, click on “New User”
 - Enter your desired credentials
 - Choose whether you would like to be a member or not
 - Click “Register”
</p>

<h3>Register for Program (User):</h3>

<p>
 - Navigate to the “Program Search” page
 - Click “Register” on a Program    
</p>

<h3>Unregister from Program (User):</h3>

<p>
 - Navigate to the “Program Search” page
 - Click “Unregister” on a Program    
</p>

<h3>Manage Programs (Staff):</h3>

<p>
[TODO]
</p>

<h3>Delete User Account (Staff):</h3>

<p>
[TODO]
</p>

</a>


{% include 'format/footer.html' %}
