{% include 'format/header.html' %}

<br>
<h1> Profile </h1>

{% if accounts %}

    <div class="prof-row">
        <div class="account_display" style="background-color:#aaa;">
            
            {% if session["member_or_not"] == 1 %}
                <h2> Accounts </h2>
                <!-- TODO Eventually will be a button to create more accounts for when it's a member user -->
                {% for account in accounts %}
                    <div class="card">
                        <br>
                        <p>YMCA id: {{ account[0] }}</p>
                        <p>Name: {{ account[2] }} {{ account[3] }}</p>
                        <br>
                    </div>
                {% endfor %}
                
            {% else %}
                <h2> Account information </h2>
                <p> Will eventually have account information here for a non member account or if there is only one account</p>
            {% endif %}
        </div>
        <table id="program-table" class="prof-contain">

            <!-- Table Header -->
            <thead>
                <tr>
                    <th>Program</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>

            <!-- uses jinja to include html file created by the create_table(result) python method -->
            <!-- table.html is a table including data of all programs {will be updated for advanced queries} -->
            <tbody> {% include 'data/user_programs.html' %} </tbody>
        </table>
    </div>

{% else %}
    <!-- TODO Eventually will be a button to create a an account when a user doesn't have one -->

{% endif %}


{% include 'format/footer.html' %}
