{% include 'format/header.html' %}
<h1> Create Program </h1>

{% if session["user_id"] == "employee" %}
    <button type="button" id="form_btn" onclick="display()">Create Program</button>
    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#form_btn').click(function() {
                $("#includedContent").load("templates/program_form.html");
            });
        });

        function display() {
            document.getElementById("includedContent").innerHTML='<object type="text/html" data="data/program_form.html" ></object>';
        }
    </script>
    <body> 
        <div id="includedContent"></div>
       </body>
    <a href="">
        <button>Search programs</button>
    </a> <br><br>

    
{% endif %}

{% include 'format/footer.html' %}