<!DOCTYPE html>
<html>
    
<head>
   <meta name="viewport" content="width=devide-width, inital-scale=1.0">
    <title>YMCA Project</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>

    <body >
  
        <div id="contain">
          
        <div id="top">
        <nav >
           
            <a href="/">
                <img src="{{ MEDIA_URL }}static/images/logo.png" id="logo" />
            </a>
             
                    <ul>
                        <li id = "highlight"> <a href="/program_search"> Program Search </a></li> 

                {% if session["username"] %} 

                    Hello {{ session["username"] }}


                    {% if session["user_id"] != "employee" %}
                        <!-- TODO maybe make a drop down for opetions as a user like setting and that sort of thing-->
                        <a href="/user_profile">
                            <button>Account</button>
                        </a>
                    {% else %}
                        <a href="/staff_profile">
                            <button>Actions</button>
                        </a>
                    {% endif %}

                    <a href="/logout">
                        <button>logout</button>
                    </a>  

                {% else %} 
                <li>
                    {% if not session["logging_in"] %}
                       <a href="/login">
                            <button type="button">login</button>
                        </a>
                </li>
                    
                    {% endif %}

                {% endif %}
                    </ul>
                
            
            
        </nav>
    </div>



